@import "bases/colores";
@import "bases/fuentes";
@import "bases/mixins";

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(14, 14, 14);   
}


.titulo {
    @include tipografia ($arial,2em,null,$naranja,bold, null);
    letter-spacing: 3px;
    word-spacing: 5px;
    text-align: center;
    border-radius: 5%; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitulos {
    @include tipografia ($arial, 1em, italic, $naranja,bold, null);
    margin-bottom: 4px;
}

.subInscripcion legend label {
    text-align: center;
}


/****header***/
@import "layout/header";

/****main***/
@import "layout/main";

/****grid***/
@import "layout/grid";

/****footer***/
@import "layout/footer";

/****section***/
@import "layout/section";

/****section***/
@import "layout/premios";

/****header***/
@import "layout/portada";


/****bootstrap***/
@import "componentes/bootstrap";



